body {
  margin: 50px;
  background: rgb(253, 246, 227);
  color: rgb(101, 123, 131);
  font-family: 'Monaco', 'Lucida Console', 'Courier New', monospace;
}

h1 .big {
  font-size: 1.7em;
}

#container {
  width: 800px;
}

.orange {
  color: rgb(203, 75, 22);
}

.yellow {
  color: rgb(181, 137, 0);
}

.blue {
  color: rgb(38, 139, 210);
}

.comment {
  color: rgb(88, 110, 117);
}

h2 {
  color: rgb(211, 54, 130);
}

a {
  color: rgb(42, 161, 152);
}

a.logo {
  text-decoration: none;
  color: rgb(101, 123, 131);
}

address {
  font-style: normal;
}

.left-column {
  float: left;
  margin-right: 30px;
}

.clear {
  clear: both;
}

.register-link {
  float: left;
  font-size: 2em;
  margin-right: 30px;
}
