<!DOCTYPE html>
<html>
  <head>
    <title>FooBarCamp - an open space developer unconference</title>

    <meta charset='utf-8'>
    <link rel="stylesheet" href="/style.css">
    <meta property="og:image" content="http://foobarcamp.sckrk.com/images/foobarcamp.png"/>
  </head>

  <body>
    <div id="container">
      <h1>
        <a class="logo" href="/">
          <span class="big">
            <span class="orange">Foo</span><span class="yellow">Bar</span><span class="blue">Camp</span>;<br/>
          </span>
        </a>
        <span class="comment">// an open space developer unconference</span>
      </h1>
      <p>
        <a href="/registration.html" class="register-link">Register!</a>
      Come talk with us about software engineering, coding, naming, process management... you name it, really.
      </p>


      <%= yield %>

    </div>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19995270-3']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  </body>
</html>
